HOST_PORT=8080
TLS_HOST_PORT=8443
ALLOW_ORIGIN=*
RELAY_PROBE_TOKEN=
RELAY_RPC_MODE=stub
RELAY_SSH_SOCKET_PATH=~/.obsidian-remote/server.sock
RELAY_SSH_TOKEN_PATH=~/.obsidian-remote/token
RELAY_SSH_PRIVATE_KEY_BASE64=
RELAY_SSH_PRIVATE_KEY_FILE=
RELAY_SSH_PASSWORD=
RELAY_SSH_KNOWN_HOSTS_FILE=
RELAY_SSH_INSECURE_IGNORE_HOST_KEY=true
RELAY_SSH_CONNECT_TIMEOUT_MS=5000
RELAY_HEALTH_VERSION=0.0.0-dev
